#user-icon{
    height: 100px;
}

#userinfo_box{
    display: flex;
    flex-direction:column;
    /*justify-content:center; */
    /*align-items:center;*/
}

#image_box{
    align-items:center;
}

.list-icon{
    height:20px;
}

.list-header{
    display: flex;
}

    .best-ans-button{
        background-color: rgba(0,0,0,0);
        border-style: none;
    }

